.hamburger {
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    display: block;
    width: 68px;
    height: 68px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .burger-main {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
  }
  
  .burger-inner {
    position: relative;
    height: 28px;
    width: 36px;
  }
  
  .burger-main span {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 3px;
    background-color: #f9dd6b;
  }

  .menu-ico.show .burger-main span {
    background-color: #fff;
  }
  
  .top {
    top: 0;
    transform-origin: 34px 2px;
  }
  
  .bot {
    bottom: 0;
    transform-origin: 34px 2px;
  }
  
  .mid {
    top: 12px;
  }
  
  .svg-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
  }
  
  
  .path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
  }
  
  .hamburger.open .path {
    animation: dash-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.closed .path {
    animation: dash-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.open .top {
    animation: close-top-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.open .bot {
    animation: close-bot-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.closed .top {
    animation: close-top-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.closed .bot {
    animation: close-bot-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.open .mid {
    animation: burger-fill-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.closed .mid {
    animation: burger-fill-in 0.6s linear normal;
  }
  
  .path-burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
  }
  
  .animate-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
  }
  
  .path-rotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .hamburger.open .animate-path {
    animation: circle-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  .hamburger.closed .animate-path {
    animation: circle-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes dash-in {
    0% {
      stroke-dashoffset: 240;
    }
  
    40% {
      stroke-dashoffset: 240;
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  
  }
  
  @keyframes dash-in {
    0% {
      stroke-dashoffset: 240;
    }
  
    40% {
      stroke-dashoffset: 240;
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  
  }
  
  @-webkit-keyframes dash-out {
    0% {
      stroke-dashoffset: 0;
    }
  
    40% {
      stroke-dashoffset: 240;
    }
  
    100% {
      stroke-dashoffset: 240;
    }
  
  }
  
  @keyframes dash-out {
    0% {
      stroke-dashoffset: 0;
    }
  
    40% {
      stroke-dashoffset: 240;
    }
  
    100% {
      stroke-dashoffset: 240;
    }
  
  }
  
  @keyframes close-top-out {
    0% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
    }
  
    20% {
      left: 0;
      top: 0;
      transform: rotate(15deg);
    }
  
    80% {
      left: -5px;
      top: 0;
      transform: rotate(-60deg);
    }
  
    100% {
      left: -5px;
      top: 1px;
      transform: rotate(-45deg);
    }
  
  }
  
  @keyframes close-bot-out {
    0% {
      left: 0;
      transform: rotate(0deg);
    }
  
    20% {
      left: 0;
      transform: rotate(-15deg);
    }
  
    80% {
      left: -5px;
      transform: rotate(60deg);
    }
  
    100% {
      left: -5px;
      transform: rotate(45deg);
    }
  
  }
  
  @keyframes close-top-in {
    0% {
      left: -5px;
      bot: 0;
      transform: rotate(-45deg);
    }
  
    20% {
      left: -5px;
      bot: 0;
      transform: rotate(-60deg);
    }
  
    80% {
      left: 0;
      bot: 0;
      transform: rotate(15deg);
    }
  
    100% {
      left: 0;
      bot: 1px;
      transform: rotate(0deg);
    }
  
  }
  
  @keyframes close-bot-in {
    0% {
      left: -5px;
      transform: rotate(45deg);
    }
  
    20% {
      left: -5px;
      transform: rotate(60deg);
    }
  
    80% {
      left: 0;
      transform: rotate(-15deg);
    }
  
    100% {
      left: 0;
      transform: rotate(0deg);
    }
  
  }
  
  @keyframes burger-fill-in {
    0% {
      width: 0;
      left: 36px;
    }
  
    40% {
      width: 0;
      left: 40px;
    }
  
    80% {
      width: 36px;
      left: -6px;
    }
  
    100% {
      width: 36px;
      left: 0px;
    }
  
  }
  
  @keyframes burger-fill-out {
    0% {
      width: 36px;
      left: 0px;
    }
  
    20% {
      width: 42px;
      left: -6px;
    }
  
    40% {
      width: 0;
      left: 40px;
    }
  
    100% {
      width: 0;
      left: 36px;
    }
  
  }
  @keyframes circle-out {
    0% {
      transform: rotate(0deg);
    }
  
    40% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  
  }
  
  
  @keyframes circle-in {
    0% {
      transform: rotate(360deg);
    }
  
    40% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  
  }

  /* about button */

/* Common button styles */
.button {
	float: left;
	display: block;
	border: none;
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Borders */
.button--border-thin {
	border: 1px solid;
}
.button--border-medium {
	border: 2px solid;
}
.button--border-thick {
	border: 3px solid;
}

/* Individual button styles */
/* Nina */
.button--nina {
  padding: 0 2em;
  width: 150px;
	background: #333;
	color: #fff;
	overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.button--nina.button--inverted {
	background: #333;
	color: #fff;
}
.button--nina > span {
	display: inline-block;
	padding: 1em 0;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
	background-color: #f9dd6b;
}
.button--nina:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}
.button--nina:hover > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}
.button--nina:hover > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}
.button--nina:hover > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}
.button--nina:hover > span:nth-child(5) {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}
.button--nina:hover > span:nth-child(6) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}
.button--nina:hover > span:nth-child(7) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.315s;
}
.button--nina:hover > span:nth-child(8) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}
.button--nina:hover > span:nth-child(9) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.405s;
}
.button--nina:hover > span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

/* Aylen */
.button.button--aylen {
  width: 150px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	overflow: hidden;
	-webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;
}
.button--aylen.button--inverted {
	background: none;
	color: #fff;
}
.button--aylen::before,
.button--aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
	background: #7fcdda;
}
.button--aylen::after {
	background: #7a55e7;
}
.button--aylen:hover {
	color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}