@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');
@font-face {
  font-family: 'DOSMyungjo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1920px) {
  body {
    transform: scale(1);
  }
}

/* common */
* {margin: 0; padding: 0; box-sizing: border-box; list-style: none; letter-spacing: -0.02em; font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
a {text-decoration: none;}
.wrap {width: 100%; overflow: hidden;}
.mgt30{margin-top: 30px;}

/* header */
#header {position: relative; width: 100%; height: 105vh; overflow: hidden; background: url(./../images/portfolio2025_main.jpg) no-repeat 50% 0; background-color: #f4f4f4;}
#header .scroll-position {position: fixed; bottom: 4%; left: 4%; width: 50px; height: 50px;
                        line-height: 50px; text-align: center; color: #fff; z-index: 1000;}
#header .aside-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
#header .aside {
  transform: rotate(-90deg);
}

#header .aside-wrapper.show {
  opacity: 1;
  transition: .5s;
}
#header .aside > ul {display: flex; justify-content: start;}
#header .aside > ul > li {flex-direction: row; padding: 1em;}
#header .aside > ul > li > p {color: #333; font-size: 18px; font-weight: 500;}

.blob {
  position: absolute;
  top: 100px;
  right: 250px;
  background-image: url(./../images/header_deco_01_03.png);
  width: 280px;
  height: 300px;
  transform-origin: 50% 50%;
  transform: scale(1.2,1.1);
  animation: bounce 0.6s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate;
}
@keyframes bounce{
  to{
      top: 70px;
      transform: scale(1.1,1.1);
  }
}
.blob:hover {animation: bounce_hover .3s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate; cursor: pointer;}
@keyframes bounce_hover{
  to{
      transform: scale(1.3,1.2);
  }
}

/* contents */
#contents .about {position: relative; width: 100%; height: 1200px; background-color: #f4f4f4;}
#contents .about .wrap {position: relative; width: 1100px; margin: 0 auto;}
#contents .about .wrap .intro p {margin: 30px 0 5px; font-size: 16px; font-weight: bold;}
#contents .about .wrap .intro .skill {width: 380px; margin-top: 20px; display: grid; grid-template-columns: repeat(5, 1fr); text-align: center;}
#contents .about .wrap .intro .skill_icon {width: 75px; margin-top: 15px;}
#contents .about .wrap .intro .skill_icon img {width: 45%; margin-bottom: 0;}
#contents .about .wrap .intro .skill_icon .icon_title {letter-spacing: -0.05em;}
#contents .about .wrap .item {display: inline-block; width: 540px; box-sizing: border-box; line-height: 1.7; vertical-align: top;}
#contents .about .wrap .item p.title {font-family: 'DOSMyungjo'; font-size: 26px;}
#contents .about .wrap .item ul li::before {content: ''; display: inline-block; margin-right: 10px; width: 5px; height: 5px; background-color: #333;}
#contents .about .wrap .item ul li p {font-weight: bold;}
#contents .about .wrap .photo {width: 550px; height: 662px; background-image: url(./../images/portfolio2025_slogan.png);}

/* works */
#contents .works {position: relative; width: 100%; height: 100vh; background-color: #000;}
#contents .works .wrap {position: relative; width: 1100px; margin: 0 auto;}
#contents .works ul {display: flex; flex-direction: column; margin-top: 250px;}
#contents .works ul li a {display: block; width: 1100px; translate: none; rotate: none; scale: none; position: relative; transform: translate(0px, 0px); perspective: 700px; margin-top: -150px; cursor: pointer; box-shadow: 0 -15px 32px rgba(0, 0, 0, 0.25);}
#contents .works ul li a:hover .card_box {display: block; color:#f6f6f6; background-color: #0101b9; transform: rotateX(-5deg) translateZ(-30px) translateY(-90px);}
#contents .works ul li .card_box {width: 1100px; height: 290px; margin: 0 auto; padding: 30px; color: #f6f6f6; background-color: #222; border-radius: 20px;
  border-top: 10px solid #000; transform-style: preserve-3d; transform: rotateX(-10deg) translateZ(-35px); transition: color 0.6s, 0.6s, 0.6s ease;}
#contents .works ul li h1 {display: block; font-size: 33px; font-weight: bold;}
.material-symbols-outlined {font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 24;}
.card_title {display: flex; justify-content: space-between}
#contents .works .summary table {margin: 1.2rem 0; width: 100%;}


/* contact */
#contents .contact {position: relative; width: 100%; color: #f6f6f6; background-color: #0101b9;}
#contents .contact .inn {width: 1100px; margin: 0 auto; height: 50px; padding: 15px 0;}

.typing-demo.show {
  width: 37ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: DOSMyungjo;
  font-size: 2em;
  letter-spacing: .04em;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}