@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');
@font-face {
  font-family: 'DOSMyungjo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* common */
* {margin: 0; padding: 0; box-sizing: border-box; list-style: none; letter-spacing: -0.02em; font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
a {text-decoration: none;}
.wrap {width: 100%; overflow: hidden;}
@media (max-width: 1920px) {
  .wrap {
    transform: scale(1);
  }
}
.mgt30{margin-top: 30px;}

/* header */
#header {position: relative; width: 100%; height: 1080px; background: url(./../images/portfolio2025_main.jpg) no-repeat 50% 0; background-color: #f4f4f4;}
#header .scroll-position {position: fixed; bottom: 4%; left: 4%; width: 50px; height: 50px;
                        line-height: 50px; text-align: center; color: #fff; z-index: 1000;}
@media screen and (max-width: 1600px) {
  .blob {
    opacity: 0;
    pointer-events: none;
  }
}
.blob {
  position: absolute;
  top: 100px;
  right: 250px;
  background-image: url(./../images/header_deco_01_03.png);
  width: 280px;
  height: 300px;
  transform-origin: 50% 50%;
  transform: scale(1.2,1.1);
  animation: bounce 0.6s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate;
}
@keyframes bounce{
  to{
      top: 70px;
      transform: scale(1.1,1.1);
  }
}
.blob:hover {animation: bounce_hover .3s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate; cursor: pointer;}
@keyframes bounce_hover{
  to{
      transform: scale(1.3,1.2);
  }
}

/* 풍선 터질 때 몸통 애니메이션 */
.blob.pop {
  animation: pop-burst 0.35s forwards ease-out;
}

/* 풍선 몸체 터지는 모션 */
@keyframes pop-burst {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2); 
    opacity: 0;
  }
}


/* contents */
@media screen and (max-width: 1100px) {
  #contents .intro {padding-left: 20px;}
  #contents .work,
  #contents .edu {
    display: none !important;
  }
}
#contents .about {position: relative; width: 100%; background-color: #f4f4f4;}
#contents .about .wrap {position: relative; width: 1100px; margin: 0 auto; padding: 70px 0;}
#contents .about .wrap .intro p {margin: 30px 0; font-size: 16px; font-weight: bold;}
#contents .about .wrap .intro .skill {width: 380px; margin-top: 20px; display: grid; grid-template-columns: repeat(5, 1fr); text-align: center;}
#contents .about .wrap .intro .skill_icon {width: 75px; margin-top: 15px;}
#contents .about .wrap .intro .skill_icon img {width: 45%; margin-bottom: 0;}
#contents .about .wrap .intro .skill_icon .icon_title {letter-spacing: -0.05em;}
#contents .about .wrap .item {display: inline-block; width: 540px; height: 100%; padding-top: 50px; box-sizing: border-box; line-height: 1.7; vertical-align: top;}
#contents .about .wrap .item p.title {font-family: 'DOSMyungjo'; font-size: 26px;}
#contents .about .wrap .item ul li::before {content: ''; display: inline-block; margin-right: 10px; width: 5px; height: 5px; background-color: #333;}
#contents .about .wrap .item ul li p {font-weight: bold;}
#contents .about .wrap .photo {width: 540px; height: 540px; background-image: url(./../images/portfolio2025_slogan.png);}
#contents .work, #contents .edu {padding-bottom: 50px;}
/* works */
@media screen and (max-width: 1200px) {
  #contents .works .wrap {
    padding: 0 20px;
  }

  #contents .works ul {
    margin-top: 180px;
  }

  #contents .works ul li a {
    width: 100%;
    margin-top: -120px; 
  }

  #contents .works ul li .card_box {
    width: 100%;
    height: auto;  
  }
}
@media screen and (max-width: 768px) {
  #contents .works {
    padding: 80px 0;
  }

  #contents .works .wrap {
    padding: 0 16px;
  }

  #contents .works ul {
    margin-top: 40px;
    gap: 24px; 
  }

  #contents .works ul li a {
    margin-top: 0; 
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.4);
  }

  #contents .works ul li .card_box {
    transform: none;
    height: auto;
    padding: 20px;
    border-top-width: 6px;
  }

  #contents .works ul li a:hover .card_box {
    transform: none;    
    background-color: #0101b9;
  }

  #contents .works ul li h1 {
    font-size: 22px;
  }

  #contents .works .summary table {
    font-size: 13px;
  }
}

#contents .works {
  position: relative;
  width: 100%;
  min-height: 100vh;  
  background-color: #000;
}

#contents .works .wrap {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

#contents .works ul {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
}
#contents .works ul li a {display: block; width: 100%; translate: none; rotate: none; scale: none; position: relative; transform: translate(0px, 0px); perspective: 700px; margin-top: -150px; cursor: pointer; box-shadow: 0 -15px 32px rgba(0, 0, 0, 0.25);}
#contents .works ul li a:hover .card_box {display: block; color:#f6f6f6; background-color: #0101b9; transform: rotateX(-5deg) translateZ(-30px) translateY(-90px);}
#contents .works ul li .card_box {width: 100%; height: 290px; margin: 0 auto; padding: 30px; color: #f6f6f6; background-color: #222; border-radius: 20px;
  border-top: 8px solid #000; transform-style: preserve-3d; transform: rotateX(-10deg) translateZ(-35px); transition: color 0.6s, 0.6s, 0.6s ease;}
#contents .works ul li h1 {display: block; font-size: 33px; font-weight: bold;}
.material-symbols-outlined {font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 24;}
.card_title {display: flex; justify-content: space-between}
#contents .works .summary table {margin: 1.2rem 0; width: 100%;}


/* aside */
@media screen and (max-width: 1600px) {
  .aside {
    opacity: 0;
    pointer-events: none;
  }
}
.aside-wrapper {
  position: fixed;
  top: 50%;
  left: -10%;
  z-index: 1000;
  opacity: 0;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.aside {
  transform: rotate(-90deg);
}

.aside-wrapper.show {
  opacity: 1;
  transition: .5s;
}
.aside > ul {display: flex; justify-content: start;}
.aside > ul > li {flex-direction: row; padding: 1em;}
.aside > ul > li > p {color: #333; font-size: 18px; font-weight: 500;}

/* 기본 색 */
.aside p {
  color: #333;
  transition: color .3s;
}

/* #works에 도달했을 때 적용할 색 */
.aside.color-white p {
  color: #f6f6f6;
}

#toTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 12px 16px;
  font-size: 20px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 2000;
}

/* 나타날 때 */
#toTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}
